<div class="back-image"></div>
<div class="back-gradient"></div>
<div class="sufee-login d-flex align-content-center flex-wrap">
  <div class="container">
    <div class="login-content">
      <div class="login-logo">
        <span>Registrate</span>
      </div>
      <div class="login-form">
        <form>
          <div class="row">
            <div class="col-log-6 col-md-6">
              <div class="form-group">
                <label>Nombres</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Nombres"
                />
              </div>
              <div class="form-group">
                <label>Apelidos</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Apellidos"
                />
              </div>
              <div class="form-group">
                <label>Telefono</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Telefono"
                />
              </div>
            </div>
            <div class="col-log-6 col-md-6">
              <div class="form-group">
                <label>User Name</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="User Name"
                />
              </div>
              <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" placeholder="Email" />
              </div>
              <div class="form-group">
                <label>Password</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
            </div>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" /> Acordar los términos y la política.
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">
            Registrar
          </button>

          <div class="register-link m-t-15 text-center">
            <p>Ya tienes cuenta? <a href="login"> Ingresar</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
